@import "tailwindcss";
@plugin '@tailwindcss/typography';
@import "./fonts.css";

@theme inline {
  --font-oswald: "oswald", sans-serif;
}

:root {
  --bg-color: #ffffff;
  --text-color: #000000;
  --text-muted: #6b7280;
  --link-color: #000000;

  --inline-code-color: #eb5757;
  --inline-code-background: #ededeb;
}

.dark {
  --bg-color: #121212;
  --text-color: #f3f4f6;
  --text-muted: #9ca3af;
  --link-color: #f3f4f6;

  --inline-code-color: #eb5757;
  --inline-code-background: #292928;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
  overflow-x: hidden;
  width: 100%;
  overflow-y: auto;
}

/* Add icon to links that open in new tabs */
a[target="_blank"]::after {
  content: " ↗";
  display: inline-block;
  font-size: 0.8em;
  vertical-align: super;
}

a {
  text-decoration: underline;
  color: var(--link-color);
}

.theme-toggle {
  border: none;
  background: none;
  cursor: pointer;
  padding: 0.25rem;
  border-radius: 0.25rem;
  transition: background-color 0.3s ease;
}

.theme-toggle:hover {
  background-color: rgba(128, 128, 128, 0.1);
}

/* Custom dark mode prose styles */
.dark .prose {
  color: var(--text-color);
}

.dark .prose p,
.dark .prose li,
.dark .prose h1,
.dark .prose h2,
.dark .prose h3,
.dark .prose h4,
.dark .prose h5,
.dark .prose h6,
.dark .prose strong,
.dark .prose blockquote {
  color: var(--text-color);
}

.prose {
  color: var(--text-color);
}

.prose p,
.prose li,
.prose h1,
.prose h2,
.prose h3,
.prose h4,
.prose h5,
.prose h6,
.prose strong,
.prose blockquote {
  color: var(--text-color);
}

.prose p {
  text-align: justify;
}

.prose code {
  color: var(--inline-code-color);
  background-color: var(--inline-code-background);
  padding: 0.25rem;
  border-radius: 0.25rem;
  &::before,
  &::after {
    content: none;
  }
}

.prose .astro-code {
  background-color: transparent;
  overflow-x: auto;
  max-width: 100%;
}

.prose .astro-code code {
  background-color: transparent;
  white-space: pre;
}

.prose pre {
  overflow-x: auto;
  max-width: 100%;
  white-space: pre-wrap;
}

/* Special handling for code blocks */
.prose pre code {
  overflow-x: auto;
  white-space: pre;
  width: 100%;
  display: block;
}

/* Special handling for inline code */
.prose :not(pre) > code {
  white-space: normal;
  word-break: break-word;
}
