---
import "../styles/global.css";
import BaseLayout from "../layouts/BaseLayout.astro";
import Prose from "../components/Prose.astro";
---

<BaseLayout title="About">
  <Prose>
    <div class="flex flex-col gap-4">
      <div class="space-y-3">
        <p>
          I'm a finance grad turned full-stack software engineer residing in
          Kelowna, Canada.
        </p>
        <p>
          Today I'm leading the engineering team at
          <a
            target="_blank"
            href="https://www.understorytech.com">Understory</a
          >, a platform for automating capital market model generation. We're
          doing a lot of cool things with various AI strategies housed in an
          architecture that's security-first for our users. Feel free to reach out
          if you want to hear more.
        </p>
        <p>
          While studying finance in school, I learned Python in my spare time and
          quickly became hooked. Upon graduating, I fortuitously landed a job as
          an Equity Research Analyst at a small "fintech" company as employee #8.
          While I was in a finance role initially, it only took a matter of weeks
          until I turned to programming again in my spare time to automate a lot
          of the tasks I was doing. A few months after joining the company, I
          transitioned to software development and haven't looked back since.
        </p>
        <p>
          I mostly enjoy working with TypeScript and serverless architectures,
          though I'm largely a practitioner who's more focused on "0 to 1-ing"
          projects and using whatever tools make the most sense in that context.
        </p>
      </div>
    </div>
  </Prose>
</BaseLayout>