---
import "../styles/global.css";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Contact">
  <div class="flex flex-col gap-4">
    <div class="space-y-3">
      <p>
        Best way to reach me is via email at <a
          class="underline text-blue-500"
          href="mailto:alex.mclean25@gmail.com">alex.mclean25@gmail.com</a
        >.
      </p>
    </div>
  </div>
</BaseLayout>
