---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Projects">
  <div class="flex flex-col gap-4">
    <div class="space-y-2">
      <p>Here's some personal projects I've worked on:</p>
      <ul class="space-y-4 mt-8">
        <li>
          <p>
            <a target="_blank" href="https://workoutintervals.com"
              ><b>workoutintervals.com</b>
            </a>
            - a dead simple app I made for my fiance that has configurable workout timers you can run
          </p>
        </li>
        <li>
          <a target="_blank" href="https://reviewcorral.com"
            ><b>Review Corral</b></a
          >
          - a Slack & Github bot made to handle pull-request notifictions for small engineering
          teams much more efficiently.
        </li>
        <li>
          <a target="_blank" href="https://apps.apple.com/us/app/prioritizer/id1507512481"
            ><b>Prioritizer</b></a
          >
          - a mobile app writting in Flutter with a special algorithm to help you
          priotize your tasks better
        </li>
      </ul>
    </div>
  </div>
</BaseLayout>
