---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="About">
  <div class="flex flex-col gap-4">
    <div class="space-y-2">
      <p>I'll get to this soon :)</p>
    </div>
  </div>

</BaseLayout>
