---

---

<div
  class="prose
  prose-h2:font-bold prose-h2:text-xl
  prose-a:text-blue-600
  prose-p:text-justify
  prose-code:bg-gray-100 prose-code:p-1 prose-code:text-[#EB5757] prose-code:before:content-none prose-code:after:content-none
  prose-pre:bg-gray-100 prose-pre:text-black prose-pre:rounded-lg
  [&_pre_code]:bg-transparent [&_pre_code]:p-0 [&_pre_code]:text-current
  [&_.astro-code_code]:bg-transparent [&_.astro-code_code]:p-0 [&_.astro-code_code]:text-current
  prose-img:rounded-xl"
>
  <slot />
</div>
